.blogs p {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    font-weight: 200;
    line-height: 1.75em;
    color: #fff;
    text-align: left;
    margin-bottom: 20px;
}

.blogs h5 {
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 10px;
    word-spacing: 5px;
    margin-bottom: 30px;
}

.bolg-item {
    border-bottom: 1px solid #fff;
    padding: 18px 8px;
}