.service-photo {
    overflow: hidden;
}

.service-photo img {
    transition: all ease-in-out .3s;
}

.service-photo img:hover {
    transform: scale(1.1);
}

.ser-main h3 {
    font-size: 48px;
    font-weight: 300;
    color: #b19777;
    position: relative;
    line-height: 1.25em;
    margin-bottom: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.service-details p {
    font-family: 'barlow', sans-serif;
    font-size: 24px;
    font-weight: 200;
    line-height: 1.75em;
    color: #fff;
    margin-bottom: 20px;
}

.service-details h5 {
    font-size: 30px;
    font-weight: 300;
    color: #b19777;
    position: relative;
    line-height: 1.25em;
    margin-bottom: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.review-main h2 {
    font-size: 40px;
    font-weight: 300;
    color: #b19777;
    position: relative;
    line-height: 1.25em;
    margin-bottom: 15px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.textarea {
    font-family: 'Oswald', sans-serif;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: none;
}